.dashboard {
    background-image: url('../../public/image/background.jpg');
    background-size: cover;
    background-position: center;
}

.content {
    margin-left: 300px;
    /* Ajustez selon votre mise en page */
    padding: 20px;
}

.card {
    background-color: #ffffff;
    /* Fond blanc pour les cartes */
    border: none;
    /* Supprimer les bordures pour un look moderne */
    border-radius: 8px;
    /* Coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Ombre subtile */
    margin-bottom: 20px;
    /* Espacement entre les cartes */
    padding: 15px;
    /* Padding interne pour l'espacement autour des graphiques */
    transition: transform 0.3s, box-shadow 0.3s;
    /* Animation pour hover */
}

.card:hover {
    transform: translateY(-5px);
    /* Effet de lévitation au survol */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.card .apexcharts-canvas {
    margin-top: 10px;
    /* Espacement pour centrer le graphique dans la carte */
}