.utilisateur {
    display: flex;
    background-image: url('../../public/image/background.jpg');

    background-size: cover;
    background-position: center;
}

.contentu {
    margin-left: 250px;
    padding: 20px;
}